@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
}


#popup {
  min-width: 350px;
  padding: 30px 20px;

  h2 {
    font-size: 25px;
    text-align: center;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $black;
    border-radius: 3px;
    font-size: 16px;
    font-family: $nunito;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $black;
    border-radius: 3px;
    font-size: 16px;
    font-family: $nunito;
    background-color: $skyBlue;
    color: $greyWhite;
  }
}